<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cinema System</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
          rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/ab7e9dbf8f.js"></script>

</head>

<body>
<div class="navigation">
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
            <a class="btn btn-outline-success me-3" th:href="'/admin/home'" th:text="'Home'"/>
            <a class="btn btn-outline-success me-3" th:href="'/admin/movies'" th:text="'Movie'"/>
            <a class="btn btn-outline-success me-3" th:href="'/admin/reviews'" th:text="'Review'"/>
            <a class="btn btn-outline-success me-3" th:href="'/admin/auditoriums'" th:text="'Auditorium'"/>
            <a class="btn btn-outline-success me-3" th:href="'/admin/schedules'" th:text="'Schedule'"/>
            <a class="btn btn-outline-success me-3" th:href="'/admin/bookings'" th:text="'Booking'"/>
            <a class="btn btn-outline-success me-3" th:href="'/admin/tickets'" th:text="'Ticket'"/>

        </form>
    </nav>
</div>

<div layout:fragment="content">
    <!-- content page will override this -->
</div>
</body>
</html>