<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/_layout">
<head>
    <meta charset="UTF-8">
    <title>Schedule Detail</title>
</head>
<body>
<div layout:fragment="content" class="container col-md-5 text-center mt-4">
    <h2 class="text text-primary mb-4">SCHEDULE DETAIL</h2>
    <div class="row bg-light">
        <div class="col">
            <img th:src="${schedule.movie.imageURL}" width="200" height="300">
        </div>
        <div class="col">
            <h1 class="text-success" th:text="${schedule.movie.name}" />
            <h3 th:text="'Auditorium: ' + ${schedule.auditorium.id}"/>
            <h3 th:text="'Price: ' + ${schedule.price}"/>
            <h3 th:text="'Date: ' + ${schedule.date}"/>
            <h3 th:text="'Start Time: ' + ${schedule.startTime}"/>
            <h3 th:text="'End Time: ' + ${schedule.endTime}"/>
        </div>
    </div>
</div>
</body>
</html>
