<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/_layout">
<head>
    <meta charset="UTF-8">
    <title>Auditorium Detail</title>
    <style>
        .is-seated {
            background-color: rgba(231, 255, 2, 0.99);
        }
        .not-seated {
            background-color: rgba(43, 238, 29, 0.99);
        }

        .board td {
            padding-left: 16px;
            padding-right: 16px;
        }

        .seat {
            border-collapse: collapse;
            width: 100%;
            margin: 0 auto;
        }

        .seat td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #DDD;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="container col-md-5 text-center mt-4">
    <h2 class="text text-primary mb-4">AUDITORIUM DETAIL</h2>
    <div class="row bg-light">
        <div class="col">
            <h1 class="text-success" th:text="'Room: ' + ${auditorium.id}" />
            <h3 th:text="'No. seat: ' + ${auditorium.seatCount}"/>
        </div>
    </div>

    <table class="board">
        <tbody>
            <tr>
                <td class="not-seated"></td>
                <td>Available</td>
            </tr>
            <tr>
                <td class="is-seated"></td>
                <td>Occupied</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-info table-borderless mt-3 mb-5">
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table class="seat">
        <tbody>
<!--        th:if="${seats.size() gt (row * 10) + 2}"-->
            <tr th:each="row : ${#numbers.sequence(0, seats.size() div 10 - 1)}">
                <td th:class="${seats.get(row * 10).isSeated == 0} ? 'not-seated' : 'is-seated'" th:text="${seats.get(row * 10).id}" />
                <td th:class="${seats.get((row * 10) + 1).isSeated == 0} ? 'not-seated' : 'is-seated'" th:text="${seats.get((row * 10) + 1).id}" />
                <td th:class="${seats.get((row * 10) + 2).isSeated == 0} ? 'not-seated' : 'is-seated'" th:text="${seats.get((row * 10) + 2).id}" />
                <td th:class="${seats.get((row * 10) + 3).isSeated == 0} ? 'not-seated' : 'is-seated'" th:text="${seats.get((row * 10) + 3).id}" />
                <td th:class="${seats.get((row * 10) + 4).isSeated == 0} ? 'not-seated' : 'is-seated'" th:text="${seats.get((row * 10) + 4).id}" />
                <td th:class="${seats.get((row * 10) + 5).isSeated == 0} ? 'not-seated' : 'is-seated'" th:text="${seats.get((row * 10) + 5).id}" />
                <td th:class="${seats.get((row * 10) + 6).isSeated == 0} ? 'not-seated' : 'is-seated'" th:text="${seats.get((row * 10) + 6).id}" />
                <td th:class="${seats.get((row * 10) + 7).isSeated == 0} ? 'not-seated' : 'is-seated'" th:text="${seats.get((row * 10) + 7).id}" />
                <td th:class="${seats.get((row * 10) + 8).isSeated == 0} ? 'not-seated' : 'is-seated'" th:text="${seats.get((row * 10) + 8).id}" />
                <td th:class="${seats.get((row * 10) + 9).isSeated == 0} ? 'not-seated' : 'is-seated'" th:text="${seats.get((row * 10) + 9).id}" />
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>
