<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/_layout">
<head>
    <meta charset="UTF-8">
    <title>Review Detail</title>
</head>
<body>
<section layout:fragment="content" class="p-5">
    <h2 class="text text-center text-primary mb-4">REVIEW DETAIL</h2>
    <div class="container my-5">
        <div class="row my-3">
            <div class="col-3">
                <img th:src="${review.movie.imageURL}" width="250" height="400"/>
            </div>
            <div class="col-9 text-dark text-start">
                <h3 class="py-3" th:text="${review.movie.name}"/>
                <table class="table-sm table-borderless">
                    <tbody>
                    <tr>
                        <th class="col-3">User ID:</th>
                        <td class="col-9" th:text="${review.user.id}"/>
                    </tr>
                    <tr>
                        <th class="col-3">User:</th>
                        <td class="col-9" th:text="${review.user.username}"/>
                    </tr>
                    <tr>
                        <th class="col-3">Description:</th>
                        <td class="col-9" th:text="${review.description}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
