<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/user/_layout">
<head>
    <meta charset="UTF-8">
    <title>Movie Detail</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script>
        function sendText() {
            alert('Review sent successfully!');
        }
    </script>
</head>
<body>
<section layout:fragment="content" class="p-5">
    <div class="container my-5">
        <div class="row my-3">
            <div class="col-3">
                <img th:src="${movie.imageURL}" width="250" height="400"/>
            </div>
            <div class="col-9 text-dark text-start">
                <h3 class="py-3" th:text="${movie.name}"/>
                <p class="py-3" th:text="${movie.description}"/>
                <table class="table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th class="col-3">Rating:</th>
                            <td class="col-9"><span th:text="${movie.rating}"></span><span aria-hidden="true" class="fa fa-star icon-log ml-2"></span></td>
                        </tr>
                        <tr>
                            <th class="col-3">Director:</th>
                            <td class="col-9" th:text="${movie.director}"/>
                        </tr>
                        <tr>
                            <th class="col-3">Actor:</th>
                            <td class="col-9" th:text="${movie.actor}"/>
                        </tr>
                        <tr>
                            <th class="col-3">Category:</th>
                            <td class="col-9" th:text="${movie.category}"/>
                        </tr>
                        <tr>
                            <th class="col-3">Length:</th>
                            <td class="col-9" th:text="${movie.length} + ' phut'"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-3 search-right text-center">
                <a th:text="'BOOK NOW'" th:href="'/user/booking/movie/' + ${movie.id}" class="btn search-hny my-2"></a>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="text-center text-dark mt-5">WATCH TRAILER</h3>
        <iframe width="1400" height="838" th:src="${movie.trailerURL}" allowfullscreen></iframe>
    </div>

    <form th:action="'user/movie/' + ${movie.id} + '/review/save'" method="POST">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <textarea class="form-control" name="inputText" id="inputText" placeholder="Send reviews" required rows="5"></textarea>
                    <button type="submit" class="btn btn-primary position-absolute bottom-0 end-0 my-2 mx-4" onclick="sendText()">Send</button>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>
