<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/_layout">
<head>
    <meta charset="UTF-8">
    <title>Ticket Detail</title>
</head>
<body>
<div layout:fragment="content" class="container col-md-5 text-center mt-4">
    <h2 class="text text-primary mb-4">TICKET DETAIL</h2>
    <div class="row bg-light">
        <div class="col">
            <img th:src="${ticket.schedule.movie.imageURL}" width="200" height="300">
        </div>
        <div class="col">
            <h1 class="text-success" th:text="${ticket.schedule.movie.name}" />
            <h1 class="text-success" th:text="${ticket.booking.user.username}" />
            <h3 th:text="'Length: ' + ${ticket.schedule.movie.length}"/>
            <h3 th:text="'Price: ' + ${ticket.schedule.price}"/>
            <h3 th:text="'Seat: ' + ${ticket.seat.id}"/>
            <h3 th:text="'Auditorium: ' + ${ticket.seat.auditorium.id}"/>
            <h3 th:text="'Movie Date: ' + ${ticket.schedule.date}"/>
            <h3 th:text="'Movie Start Time: ' + ${ticket.schedule.startTime}"/>
            <h3 th:text="'Booking Date: ' + ${ticket.booking.bookingDate}"/>
            <h3 th:text="'Booking Time: ' + ${ticket.booking.bookingTime}"/>
        </div>
    </div>
</div>
</body>
</html>
